/**********************************************************
 * Global configs
 *********************************************************/
html, body {
    overflow: hidden;
    margin: 0 0 0 5px;
    padding: 0;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
.course-color-0 { color: #1F77B4 !important; }
.course-color-1 { color: #FF7F0E !important; }
.course-color-2 { color: #2CA02C !important; }
.course-color-3 { color: #D62728 !important; }
.course-color-4 { color: #9467BD !important; }
.course-color-5 { color: #8C564B !important; }
.course-color-6 { color: #E377C2 !important; }
.course-color-7 { color: #BCBD22 !important; }
.course-color-8 { color: #17BECF !important; }

.course-bgcolor-0 { background-color: #1F77B4 !important; }
.course-bgcolor-1 { background-color: #FF7F0E !important; }
.course-bgcolor-2 { background-color: #2CA02C !important; }
.course-bgcolor-3 { background-color: #D62728 !important; }
.course-bgcolor-4 { background-color: #9467BD !important; }
.course-bgcolor-5 { background-color: #8C564B !important; }
.course-bgcolor-6 { background-color: #E377C2 !important; }
.course-bgcolor-7 { background-color: #BCBD22 !important; }
.course-bgcolor-8 { background-color: #17BECF !important; }

.course-bdcolor-0 { border-color: #1F77B4 !important; }
.course-bdcolor-1 { border-color: #FF7F0E !important; }
.course-bdcolor-2 { border-color: #2CA02C !important; }
.course-bdcolor-3 { border-color: #D62728 !important; }
.course-bdcolor-4 { border-color: #9467BD !important; }
.course-bdcolor-5 { border-color: #8C564B !important; }
.course-bdcolor-6 { border-color: #E377C2 !important; }
.course-bdcolor-7 { border-color: #BCBD22 !important; }
.course-bdcolor-8 { border-color: #17BECF !important; }

/**********************************************************
 * Class for LCAL
 *********************************************************/
#lcal {
    width: 100%;
    min-width: 1200px;
}
#lcal h1 {
    font-family: Arial;
    font-size: 1.3em;
    color: #000000;
    margin: 10px 0 5px 0;
}
/**********************************************************
 * Class for LCAL-Progress Table
 *********************************************************/
#lcal-pt {
    width: 100%;
}
#lcal-pt div {
    float: left;
}
#lcal-pt-legend {
    float: right;
    width: 480px;
    margin: 0 10px 0 0;   
}
.lcal-pt-legend-item {
    float: right;
    margin: 0 0 0 20px;
}
.lcal-pt-legend-desc {
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 0 5px;
}
.lcal-pt-header {
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 4px 0 4px 0;
}
.lcal-pt-header-text {
    width: 340px;
}
.lcal-pt-item {
    /* height: 36px; */
    height: auto;
}
.lcal-pt-item td {
    font-size: 11px;
    /* border-bottom: 1px solid #CACACA; */
    padding: 4px 0 0 0;
}
.lcal-pt-item td a {
    font-family: Arial;
}
.lcal-pt-chpitem {
    padding: 0 6px 3px 0;
}
.lcal-pt-chpitem-title {
    font-size: 8px;
    font-family: Arial;
    width: 10px;
    height: 7px;
    line-height: 8px;
    text-align: center;
}
.lcal-pt-chpitem-videos {
    height: 11px;
}
.lcal-pt-cpd {
    font-family: Arial;
    text-align: left;
}
.lcal-pt-cpd-watchedcount {
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    line-height: 14px;
}
.lcal-pt-cpd-totalcount {
    font-size: 14px;
    width: 30px;
    line-height: 14px;
}
.lcal-pt-cpd-leftcount {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 3px;
    width: 12px;
}
.lcal-pt-cpd-text {
    font-size: 12px;
    line-height: 14px;
}
.lcal-pt-cpd-percent {
    font-size: 11px;
    font-style: italic;
    line-height: 12px;
    clear: left;
    padding: 0 3px 0 0;
    margin: 1px 0 0 0;
}
.lcal-pt-cpd-percent-100 {
    width: 100px;
    height: 10px;
    border: 1px solid;
}
.lcal-pt-cpd-percent-current {
    height: 10px;
}
.lcal-pt-cpd-percent-text {
    width: 55px;
    margin: 1px 2px 0 0;
}
.lcal-pt-coursename {
    font-family: Arial;
    font-size: 11px;
    text-align: left;
}
.lcal-video {
    width: 10px; 
    height: 10px; 
    margin: 1px 1px 0 0;
    cursor: pointer;
}
.lcal-video-unwatched {
    border: 1px dotted;
    opacity: 0.4;
}
.lcal-video-watched {
    border: 1px solid; 
}
.lcal-video-watchtime {
    height: 10px;
}

/**********************************************************
 * Class for LCAL-Viewing Calendar
 *********************************************************/
#lcal-vc {
    width: 100%;
    height: 395px;
    font-family: Arial;
    margin: 5px 0 0 0;
}
#lcal-vc div{ 
    float: left;
}
#lcal-vc-topheader {
    width: 100%;
    height: 20px;
    margin: 2px 0 0 0;
    padding: 5px 0 0 20px;
    border-top: 1px solid #AAAAAA;
}
.lcal-vc-topheader-month {
    width: 230px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
#lcal-vc-leftheader {
    width: 30px;
}
#lcal-vc-leftheader .lcal-vc-weekheader:first-child {
    border-top: 1px solid #AAAAAA;
}
.lcal-vc-weekheader {
    width: 16px;
    height: 50px;
    border-bottom: 1px solid #AAAAAA;
    font-size: 12px;
}
.lcal-vc-weekheader div{
    color: #333;
    font-weight: bold;
    width: 16px;
    transform: translate(0, 20px) rotate(-90deg);
}
#lcal-vc-cal {
    width: 1160px;
}
.lcal-vc-day {
    width: 50px;
    height: 50px;
    border: 1px solid #EAEAEA;
    border-left: 0;
    border-top: 0;
    margin: 0 1px 0 0;
}
#lcal-vc-weekday0 .lcal-vc-day {
    border-top: 1px solid #666666;
}
#lcal-vc-weekday0 .lcal-vc-day:first-child,
#lcal-vc-weekday1 .lcal-vc-day:first-child,
#lcal-vc-weekday2 .lcal-vc-day:first-child,
#lcal-vc-weekday3 .lcal-vc-day:first-child,
#lcal-vc-weekday4 .lcal-vc-day:first-child,
#lcal-vc-weekday5 .lcal-vc-day:first-child,
#lcal-vc-weekday6 .lcal-vc-day:first-child {
    border-left: 1px solid #666666;
}
#lcal-vc-weekday0 .lcal-vc-day:last-child,
#lcal-vc-weekday1 .lcal-vc-day:last-child,
#lcal-vc-weekday2 .lcal-vc-day:last-child,
#lcal-vc-weekday3 .lcal-vc-day:last-child,
#lcal-vc-weekday4 .lcal-vc-day:last-child,
#lcal-vc-weekday5 .lcal-vc-day:last-child,
#lcal-vc-weekday6 .lcal-vc-day:last-child {
    border-right: 1px solid #666666;
}
#lcal-vc-weekday6 .lcal-vc-day {
    border-bottom: 1px solid #666666;
}
.lcal-vc-day-right-divider {
    border-right: 1px solid #666666;
    /* margin: 0 0 0 0; */
}
.lcal-vc-day-bottom-divider {
    border-bottom: 1px solid #666666;
}
.lcal-vc-day-today {
    background-color: #DADADA;
}
.lcal-vc-day-past {
    background-color: #EFEFEF42;
}
.lcal-vc-day-future {
    background-color: #FFFFFF;
}
.lcal-vc-dayheader {
    width: 50px;
    height: 15px;
}
.lcal-vc-dayheader-date {
    width: 20px;
    text-indent: 3px;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
.lcal-vc-dayheader-date-today {
    font-weight: bold;
    color: #000000;
}
.lcal-vc-dayheader-date-past {
    color: #BBBBBB;
}
.lcal-vc-dayheader-date-future {
    color: #666666;
}
.lcal-vc-dayheader-mark {
    width: 27px;
    margin: 0 3px 0 0;
    font-size: 14px;
    text-align: right;
    height: 14px;
    line-height: 14px;
    color: #a1abb3;
}
.lcal-vc-dayheader-mark-exam {
    color: #000000 !important;
}
.lcal-vc-dayvideos {
    width: 44px;
    padding: 1px 3px 0 3px;
    height: 34px;
}
.lcal-vc-video {
    width: 8px; 
    height: 8px; 
    margin: 1px 1px 0 0;
    cursor: pointer;
}
.lcal-vc-video-unwatched {
    border: 1px dotted #6996D3; 
}
.lcal-vc-video-watched {
    border: 1px solid #6996D3; 
}
.lcal-vc-video-watchtime {
    height: 8px;
    background-color: #4380D3;
}
.lcal-vc-video-more {
    height: 10px;
    width: 20px;
    margin: 1px 0 0 0;
    line-height: 12px; 
    font-size: 9px;
    color: #333;
    text-align: right;
}
#lcal-vc-footnote{
    width: 100%;
}

/**********************************************************
 * Class for LCAL-Week Chart
 *********************************************************/
#lcal-wc {
    width: 100%;
}
#lcal-wc-chart {
    width: 1180px;
    height: 200px;
}